<div class="drawer-header">
    <div class="logo-header">

        {# 左側 #}
        <div
          <div class="ec-drawerRoleClose header-left header-child">
            {#<img src="{{ asset('assets/icon/close_SP.svg') }}" alt="" id="customCloseIcon" /><br />#}
            <span>{{ '閉じる'|trans }}</span>
        </div>
        </div>
        
        {# 中央ロゴ #}
        <div class="header-center header-child">
            <div class="logo">
                <a href="{{ url('homepage') }}">
                    <img src="{{ asset('assets/img/common/receipt_logo.png') }}" alt="{{ BaseInfo.shop_name }}" />
                </a>
            </div>
        </div>
        {# 右 #}
        <div class="header-right header-child">
        </div>
    </div>
